<header class="jumbotron" id="projectheader">
	<h1>Connect and Collab with me.</h1>
</header>
<div class="container" id="contactbackground">
	<div class="row" id="contactform">
		<form action="MAILTO:kennyllau9@gmail.com" method="post" enctype="text/plain">
				<div class="col-xs-6 col-xs-offset-2">
			    	<div class="form-group">

			        	<label for="name">Name</label>
			            <div class="input-group">
		                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-user"></span>
		                	</span>	
				            <input type="text" name="name" class="form-control"  placeholder="Enter name" required="required" />
		                </div>
			        </div>
			        <div class="form-group">

			            <label for="email">Email Address</label>
		                <div class="input-group">
		                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-envelope"></span>
		                	</span>
		                	<input type="email" name="mail" class="form-control" placeholder="Enter email" required="required" />
		                </div>
			        </div>			     
		            <div class="form-group">
		                <label for="name">Message</label>
		                <textarea id="message" name="message" class="form-control" rows="7"></textarea>
		            </div>
		            <div class="pull-right">
		                <input type="submit" class="btn btn-success" value="Message Me">
		            </div>
			    </div>
		</form>

		<div class="col-xs-4" id="links">
			<ul>
	            <a href="mailto:kennyllau9@gmail.com"><img src="assets/images/email.png"></a><br>
	            <a href="https://github.com/kennyllau"><img src="assets/images/Github2.png"></a><br>
	            <a href="https://www.linkedin.com/in/kenny-lau"><img src="assets/images/linkedin2.png"></a>
	        </ul>
		</div>
	</div>
</div> <!-- end of container -->
