#contactbackground{
	max-height: 2000px;
	min-height: 630px;
	/*max-width: 1500px;*/
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom right, #75C4AF, #000000);
}
/*#message{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#links{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}*/
#contactform{
	padding-top: 10%;
}