.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #7A3B11;
    stroke-width: 2px;
}

#skillsbackground{
    /*background-color: #FFEBCD;*/
}
svg{
    text-align: center;
    display: block;
    margin: auto;
}
/*skils page*/
/*#skillsheader{
    background: linear-gradient(to bottom right, #FFEBCD, #C2E3FB);
   
}
#fontawesome{
    color: green;
    padding: 20px 30px 0px 0px;
}*/



/*************** new about me page updates!!!***********/
#me{
    border-radius: 50%;
    /*height: 300px;*/
    /*width: 300px;*/
}

/* row with circles*/
#one{
    background-color: #8CA293;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#two{
    background-color: #FFEBCD;
    height: 200px;
    border-radius: 50%;
}
#three{
    background-color: #D4A29F;
    height: 200px;
    border-radius: 50%;
}
#four{
    background-color: #C2E3FB;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
/* end of the circles */

.service-icon {
    margin-bottom: 20px;
}
.service-icon img{
    height: 70px;
    width: 70px;
}

@media (max-width:1000px){
    #one{
        /*width: 200px;*/
        display: none;
    }
    #four{
        display: none;
    }
    #me{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    #skillsbackground{
        display: none;
    }
}
@media(max-width: 700px){
    #two{
        display: none;
    }
    #three{
        display: none;
    }
    #me{
        margin-left: 85%;
        margin-right: 15%;
    }
}

#space {
    margin-top: 100px;
}